#-------------------------------------------------------------------------------
# Parameters that control the run.
#-------------------------------------------------------------------------------
Debug switch:
0
Number of time steps:
500000000
Maximum time to integrate until [normalized units]:
{{ tmax }}
Time step [normalized units]:
.005
Maximum initial time step [normalized units]:
.0005
Time for which the initial time step is used [normalized units]:
.1
#-------------------------------------------------------------------------------
# Mesh and flux tube geometry.
#-------------------------------------------------------------------------------
Mesh file name [' ' ==> generate the mesh internally]:
' '
Number of mesh points to use for the loop length coordinate [NSM1]:
{{ n_points }}
Left loop leg location, S0 [set to -1. to use the geometry file value]:
-1.
Right loop leg location, S1 [set to -1. to use the geometry file value]:
-1.
Position of mesh segments [fraction of loop length] [terminate with /]:
0.,.2,.4,.6,.8,1./ # define grid resolution segments
Ratio of segment mesh sizes [terminate with /]:
1.,10.,1.,.1,1./ # size of each segment RELATIVE TO PREVIOUS SEGMENT
Number of times to filter the mesh:
5
Flux tube geometry file name [' ' => assume a semi-circular flux tube]:
'{{ geometry_file }}'
#-------------------------------------------------------------------------------
# Initial state parameters.
#-------------------------------------------------------------------------------
Initial state file name [or use 'HSEQUIL'|'RESTART']:
'HSEQUIL'
Loop midpoint temperature for the HS initial state [degrees Kelvin]:
2.e6
Loop base density for the HS initial state [normalized units]:
60000.
Chromosphere thickness for the HS initial state [Rs]:
.005
Initial state B, uniform component [normalized units]:
1.
Initial state B, amplitude [normalized units] and scale length [Rs], at S0:
0.,.02
Initial state B, amplitude [normalized units] and scale length [Rs], at S1:
0.,.02
#-------------------------------------------------------------------------------
# Coronal heating parameters.
#-------------------------------------------------------------------------------
Multiplier for Spitzer thermal conductivity [TCOND]:
1.
Temperature below which thermal conductivity is modified [deg K]:
2.5e5 # => cutoff temperature for the transition region trick.  0: no modified conductivity
Power of T for thermal conductivity below the temperature cutoff:
0.
Multiplier for radiation loss [RADLOSS]:
1.
Radiation law ['ATHAY'|'ROSNER'|'RTV'|'CHIANTI_CORONA'|'CHIANTI_PHOTO']:
'CHIANTI_CORONA'
Chromospheric base temperature [degrees K]:
20000.
Uniform heating value [erg/cm^3/s]:
{{ h0 }}
Heat source 1 at S0: heating rate [erg/cm^3/s] and scale length [Rs]:
{{ h1 }},{{ lambda1 }}
Heat source 2 at S0: heating rate [erg/cm^3/s] and scale length [Rs]:
0.,.05
Offset [Rs] for heating at S0:
{{ delta }}
Heat source 1 at S1: heating rate [erg/cm^3/s] and scale length [Rs]:
{{ h1 }},{{ lambda2 }}
Heat source 2 at S1: heating rate [erg/cm^3/s] and scale length [Rs]:
0.,.05
Offset [Rs] for heating at S1:
{{ delta }}
Heating [normalized units] to add from an input file [' ' => do not add]:
' '
Flag to use the extended heating model:
.false.
File name containing the NAMELIST heating parameters:
' '
#-------------------------------------------------------------------------------
# Viscosity.
#-------------------------------------------------------------------------------
Flag to use viscosity [.t. => yes, .f. => no]:
.true.
Number of nodes in the viscosity definition:
2
Locations of nodes:
0.,.1
Viscosity at nodes:
1.e-5,1.e-5
Viscosity table file name [' ' => none]:
' '
Split the viscosity [.t. => yes, .f. => no]?
.true.
#-------------------------------------------------------------------------------
# Physical parameters.
#-------------------------------------------------------------------------------
Gamma:
1.66666667
Switch to use gravity [.t. => yes, .f. => no]?
.t.
Gravity at the solar surface [normalized units]:
0.823
Helium fraction:
0.
#-------------------------------------------------------------------------------
# Input/output.
#-------------------------------------------------------------------------------
Final state [normalized units] output file name [' ' => do not write]:
' '
Final state [physical units] output file name [' ' => do not write]:
' '
Name of file to write energy diagnostics to [' ' => do not write]:
' '
Name of file to write momentum diagnostics to [' ' => do not write]:
' '
Name of file to write viscosity to [' ' => do not write]:
' '
Output file name to write the s mesh to [' ' => do not write]:
'smesh.out' # points de maille
#-------------------------------------------------------------------------------
# Time histories and diagnostic output.
#-------------------------------------------------------------------------------
Time step interval for time histories [takes precedence; 0 => disable]:
0
Time interval [seconds] for time histories [0 => disable]:
0.
Cell index at which to collect time histories:
3
Plot list [from 'T','ne','v','p','H','Qr','Qc','pv','q_tc'] [terminate with /]:
'T','ne','v'/
Time step interval for plot dumps [takes precedence; 0 => disable]:
0
Time interval [seconds] for plot dumps [0 => disable]:
75.
Time step interval to print progress information to the screen:
100
#-------------------------------------------------------------------------------
# Numerical factors.
#-------------------------------------------------------------------------------
Upwind coefficient [1. => upwind differences, 0. => centered differences]:
1.
Flag to use a predictor [.f. => no, .t. => yes]:
.t.
Flag to use flow in the predictor [.f. => no, .t. => yes]:
.f.
Fraction of wave terms in the predictor for v [BETAPC_V]:
.5
Fraction of wave terms in the predictor for T and rho [BETAPC_T]:
.5
Maximum time step size [as a fraction of CFL]:
.4
Flag to use a semi-implicit term [.f. => no, .t. => yes]:
.t.
Semi-implicit term multiplier, SIMULT:
1.01
Factor multiplying the flow CFL in the semi-implicit term:
0.
#-------------------------------------------------------------------------------
# Boundary conditions.
#-------------------------------------------------------------------------------
Boundary condition type on T at S0 ['isolated'|'fixed'|'rad_balance']:
'rad_balance'
Boundary condition type on T at S1 ['isolated'|'fixed'|'rad_balance']:
'rad_balance'
Boundary condition type on n_e at S0 ['isolated'|'fixed'|'radbc']:
'fixed'
Boundary condition type on n_e at S1 ['isolated'|'fixed'|'radbc']:
'fixed'
Boundary condition type on v at S0 ['zero'|'charbc']:
'charbc'
Boundary condition type on v at S1 ['zero'|'charbc']:
'charbc'
Temperature at S0 [degrees Kelvin]:
20000.
Temperature at S1 [degrees Kelvin]:
20000.
Target density at S0:
60000.
Target density at S1:
60000.
Time constant for the base density advance [normalized units]:
1.
Maximum fractional change allowed in the base density advance [FRAC_RHO_LIM]:
.05
